body{
    background-image:  url('imgs/nmap 副島１.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.pin1{
    position: absolute;
    top: 34%;
    left: 55%;
}