.map{
    position:relative;
    width:100%;
    height:100%;
    
}

.pin-1{
    position: absolute;
    top: 68%;
    left: 60%;
}

.pin-2{
    position: absolute;
    top: 1%;
    left: 1%;
}

.pin-3{
    position: absolute;
    top: 50%;
    left: 16%;
}