.map{
    position:relative;
    width:100%;
    height:100%;
    
}

.pin-1{
    position: absolute;
    top: 56%;
    left: 48%;
}

.pin-2{
    position: absolute;
    top: 23%;
    left: 14%;
}

.pin-3{
    position: absolute;
    top: 27%;
    left: 14%;
}