.map{
    position:relative;
    width:100%;
    height:100%;
    
}

.pin-1{
    position: absolute;
    top: 80%;
    left: 20%;
}

.pin-2{
    position: absolute;
    top: 68%;
    left: 60%;
}

.pin-3{
    position: absolute;
    top: 68%;
    left: 58%;
}