<head>
    <title>七賢人育成ゲーム</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrapのよみこみ。ここから -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/jquery.cookie.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- ここまで -->
    <link rel="stylesheet" href="../css/size.css" type="text/css">
    <link rel="stylesheet" href="../css/clear.css" type="text/css">
    <script type="text/javascript" src="../js/clear.js"></script>
</head>

<body>
    <div id="contents">
        <a class="link-text" href="endhing.html"></a>
        <p>
            <div class="relative">
                <img class="title-image" src="../works/ClearAndForEnding/横パーツ/章吹きだし(横).png">
                <img class="name-image">
                <img class="chapter-image">
            </div>
        </p>
        <p>
            <img class="sage-image">
            <img class="clear-image" src="../works/ClearAndForEnding/クリア　タッチして次へ.png">
        </p>
        <!-- jsで以降の処理を記述する必要あり -->
    </div>
</body>