html{ 
     max-width: 1334px;
    min-width: 750px;
    width: 100%;
}

body{
    max-width: 1324px;
    background-image: url("../works/ShouAndDonhu/eto/1%20.jpg"); 
    background-repeat: no-repeat;
    background-position: right 50px top 20px, center top;
    background-size: 30%,99%;
}

.nametitle{ 
}

p.haikei img { 
    width:100%;
    height: auto;
    position:relative;
}


.coment{
    max-width: 1234px;
    min-width: 650px;
    height: 300px;
    position: absolute;
    float: left;
    margin-top:32%;
    margin-left: -5%;
}
.coment img{
    margin: 0;
    width: 105%;
    
}

.butom_1{
    max-width: 70px;
    max-height: 70px;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    float: right;
    margin-top: 45%;
    margin-left:70%;
    
}

.butom_1 img{
   border-radius: 50%;
    width: 60%;
    height: 60%;
    background-color: red;
}

.butom_2{
    max-width: 70px;
    max-height: 70px;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    float: right;
    margin-top: 55%;
    margin-left:70%; 
}

.butom_2 img{
     border-radius: 50%;
    width: 60%;
    height: 60%;
    background-color: yellow;
}

/*画面がstoryAbdEndingを参考に作りました。
セリフ枠と背景画像が重ならない。画面サイズ変更時にボタンの位置がずれる等の問題が発生しています。
*/


/* Facebookの質問②の回答です。
画面サイズの変更に耐えられるtextの場所の指定方法(画像上への書き込み)
http://www.htmq.com/style/font-size.shtml
このサイトにも載っていますが、font-sizeを、%やキーワードで指定することで実現できます。
*/
.text{
    font-size: x-large;
}