html{ 
    max-width: 1334px;
    max-height: 750px;
    margin: 20px;
}

body{
    background-image:url("index背景-低解像度(72dpi).png");
    

}

.title-image{
    width: 120px;
    height: 40px;
}
.chara-image{
    width: 250px;
    height: 150px;
}

img{
    width: 100px;
    height: 30px;
}



