body{
  background-image: url("../background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.prev{
  width: 20%;
  height: 7%;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

.title{
  display: block;
  height: auto;
  max-width: 50%;
  margin-left: 25%;
  margin-top: 10%
}

#password{
  width: 10%;
  margin-left: 45%;
  margin-top: 10%;
}