<head>
    <title>七賢人育成ゲーム</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrapのよみこみ。ここから -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- ここまで -->
    <link rel="stylesheet" href="../css/size.css" type="text/css">
    
    <!--cssの追加-->
     <link rel="stylesheet" type="text/css" href="../works/ShouAndDonhu/donhu.css">



</head>

<body>
    <div id="contents"  class="out text-center">
    <div id="contents">

     <!-- javascriptを書いていきます -->
            <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
            <script type="text/javascript" src="../works/ShouAndDonhu/shouanddonhuJQ.js"></script>
   <p class="haikei">
            <img src="../works/ShouAndDonhu/eto/1%20.jpg">   </p>
    
    <!--会話入力枠-->
    <div class="coment" style="z-index:1;">
        <div style="position: relative;">
            
           <img src="../works/ShouAndDonhu/セリフ枠.png"> 
            <div style="position:absolute; top:40%; left:15%; max-width: 1034px; min-width: 450px; height: 250px;">
        <div class="text">文字がここに出ます。</div>       
            
              


            </div>
        </div>
    </div> 
    <!--赤のボタン-->
    
        <div class="butom_1" style="z-index:2;">
            <img src="../works/ShouAndDonhu/枠内クリックボタン.png">
        </div>
   
    <!--黄色のボタン-->
    
        <div class="butom_2" style="z-index:3;">
            <img src="../works/ShouAndDonhu/枠内クリックボタン.png">
        </div>
    

      <br>  
        <a href="chara.html" style="text-decoration: none;">
            <button type="button" class="btn btn-outline-primary">
                <div class="d-flex align-items-end">
                    キャラ選択に戻る<br>
                </div>
            </button>
        </a>
        <a href="episode.html" style="text-decoration: none;">
            <button type="button" class="btn btn-outline-primary">
                <div class="d-flex align-items-end">
                    章選択に戻る<br>
                </div>
            </button>
        </a>
    </div>
    <br>
    <br>
   
</body>