<head>
    <title>七賢人育成ゲーム</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrapのよみこみ。ここから -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- ここまで -->
    <link rel="stylesheet" href="../css/size.css" type="text/css">
    <script type="text/javascript" src="../js/load.js"></script>
</head>

<body>
    <div id="loader-bg">
        <div id="loader">
            <img src="../picture/468.gif" class="img-responsive">
        </div>
    </div>
    <div id="contents">
        <p>章選択画面</p>
        <button type="button" class="btn btn-outline-primary btn-lg">
            <a href="episode1.html" style="text-decoration: none;">第1章</a><br>
        </button>
        <button type="button" class="btn btn-outline-primary btn-lg">
            <a href="episode1.html" style="text-decoration: none;">第2章</a><br>
        </button>
        <button type="button" class="btn btn-outline-primary btn-lg">
            <a href="episode1.html" style="text-decoration: none;">第3章</a><br>
        </button>
        <button type="button" class="btn btn-outline-primary">
            <a href="chara.html" style="text-decoration: none;">キャラ選択に戻る</a><br>
        </button>
    </div>
</body>