<head>
    <title>七賢人育成ゲーム</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrapのよみこみ。ここから -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- ここまで -->
    
    <link rel="stylesheet" href="../works/ShouAndDonhu/episode.css" type="text/css">
    <script src="../js/jquery.cookie.js"></script>
    <script src="../works/ShouAndDonhu/episode.js"></script>
    

</head>

<body>
    <div id="contents"  class="out text-center">
        
        <span class="display-4">
            <p class="font-weight-bold">
                <img class="title-image" src="../works/ShouAndDonhu/章選択.png" alt="章選択画面">
            </p>
        </span>
        <img class="chara-image" src="../works/ShouAndDonhu/鍋島直正.png" alt="章選択鍋島直正" vspace="50">
        <div class="in">
            <a href="donhu.html" style="text-decoration: none;">
                
                    <img src="../works/ShouAndDonhu/第一章.png" alt="第一章"><br>
                </button>
            </a>
            <a href="map.html" style="text-decoration: none;">
                
                    <img src="../works/ShouAndDonhu/第二章.png" alt="第二章"><br>
                </button>
            </a>
            <a href="map.html" style="text-decoration: none;">
                
                    <img src="../works/ShouAndDonhu/第三章.png" alt="第三章"><br>
                </button>
            </a>
            <a href="chara.html" style="text-decoration: none;">
               
                    <div class="d-flex align-items-end">
                        <img src="../works/ShouAndDonhu/キャラ選択に戻る.png" alt="キャラ選択に戻る">
                        <br>
                    </div>
                </button>
            </a>
        </div>
    </div>
</body>