<head>
    <title>七賢人育成ゲーム</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrapのよみこみ。ここから -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- ここまで -->
    <link rel="stylesheet" href="../css/size.css" type="text/css">
    <link rel="stylesheet" href="../works/TopAndKyara/css/start.css" type="text/css">
    <script type="text/javascript" src="../js/load.js"></script>
</head>

<body>
    <div id="loader-bg">
        <div id="loader">
            <img src="../works/TopAndKyara/load.png" class="img-responsive">
        </div>
    </div>
    <div class="relative out">
        <a href="chara.html">
            <img src="../works/TopAndKyara/top.png">
        </a>
        <a class="absolute" href="chara.html">
            <img class="title" src="../works/TopAndKyara/title.png">
            <img class="title" src="../works/TopAndKyara/touch.png">
        </a>
    </div>
</body>