html{ 
    max-width: 1334px;
    min-width: 750px;
    width: 100%;
    font-family: "HG丸ｺﾞｼｯｸM-PRO";
}

body{
    max-width: 1324px;
    background-image: url("../../../江藤新平/eto_back_07.jpg"); 
    background-repeat: no-repeat;
    background-position:center top;
    background-size: 99%;
}

#serectbox1_bun{
    max-width: 460px;
    min-width: 230px;
    height: 152px;
    font-size: 300%;
    text-align: center;
    margin-left: 22%;
    margin-top: 10%;
    color: white;
}
.serectbox1{
    max-width: 460px;
    min-width: 230px;
    height: 152px;
    position: absolute;
    float: left;
    align-items:  center;
    margin-left:25%; 
    margin-top: 10%;
}
.serectbox1 img{
    margin: 0;
    width: 100%;
}
#serectbox2_bun{
    max-width: 460px;
    min-width: 230px;
    height: 152px;
    font-size: 300%;
    text-align: center;
    margin-left: -22%;
    margin-top: -7%;
    color: white;
}
.serectbox2{
    max-width: 460px;
    min-width: 230px;
    height: 152px;
    position: absolute;
    float: left;
    margin:25% 50% 0 0;
    align-items:  center;
}
.serectbox2 img{
    margin: 0;
    width: 100%;
}
#serectbox3_bun{
    max-width: 460px;
    min-width: 230px;
    height: 152px;
    font-size: 300%;
    margin-left:   20%;
    margin-top: -2%;
    text-align: center;
    color: white;
}
.serectbox3{
    max-width: 460px;
    min-width: 230px;
    height: 152px;
    position: absolute;
    float: right;
    align-items:  center;
    margin:25% 0 0 55%;
}
.serectbox3 img{
    margin: 0;
    width: 100%;
}

#bun{
    font-size: 300%;
    margin-right:20%;
    margin-top: -2%;
    text-align: center;
}
.coment{
    max-width: 1134px;
    min-width: 550px;
    height: 250px;
    position: absolute;
    float: left;
    margin-top: 30%;
    align-items:  center;
}
.coment img{
    margin: 0;
    width: 100%;
}